USE [Royal_Gamess]
GO
/****** Object:  Table [dbo].[ClassificacaoIndicativa]    Script Date: 06/03/2026 09:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassificacaoIndicativa](
	[ClassificacaoIndicativaId] [int] IDENTITY(1,1) NOT NULL,
	[Classificacao] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassificacaoIndicativaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 06/03/2026 09:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[GeneroId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GeneroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jogo]    Script Date: 06/03/2026 09:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jogo](
	[JogoId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Descrição] [nvarchar](255) NOT NULL,
	[Preco] [decimal](10, 2) NOT NULL,
	[StatusJogo] [bit] NULL,
	[Imagem] [varbinary](max) NOT NULL,
	[UsuarioIdFK] [int] NULL,
	[ClassificaçãoIdFK] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[JogoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JogoGenero]    Script Date: 06/03/2026 09:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JogoGenero](
	[JogoIdFK] [int] NOT NULL,
	[GeneroIdFK] [int] NOT NULL,
 CONSTRAINT [Jogo_Genero_Id_FK] PRIMARY KEY CLUSTERED 
(
	[JogoIdFK] ASC,
	[GeneroIdFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JogoPlataforma]    Script Date: 06/03/2026 09:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JogoPlataforma](
	[PlataformaIdFK] [int] NOT NULL,
	[JogoIdFK] [int] NOT NULL,
 CONSTRAINT [Jogo_Plataforma_Id_FK] PRIMARY KEY CLUSTERED 
(
	[PlataformaIdFK] ASC,
	[JogoIdFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JogoPromocao]    Script Date: 06/03/2026 09:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JogoPromocao](
	[JogoIdFK] [int] NOT NULL,
	[PromocaoIdFK] [int] NOT NULL,
	[PrecoAtual] [decimal](10, 2) NOT NULL,
 CONSTRAINT [Jogo_Promocao_Id_FK] PRIMARY KEY CLUSTERED 
(
	[JogoIdFK] ASC,
	[PromocaoIdFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log_Alteracao_Jogo]    Script Date: 06/03/2026 09:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_Alteracao_Jogo](
	[Log_Alteracao_Jogo_Id] [int] IDENTITY(1,1) NOT NULL,
	[DataAlteracao] [datetime2](0) NOT NULL,
	[NomeAnterior] [varchar](100) NOT NULL,
	[PrecoAnterior] [decimal](10, 2) NOT NULL,
	[JogoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Log_Alteracao_Jogo_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plataforma]    Script Date: 06/03/2026 09:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plataforma](
	[PlataformaId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlataformaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promocao]    Script Date: 06/03/2026 09:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promocao](
	[PromocaoId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[DataExpiração] [datetime] NOT NULL,
	[StatusPromocao] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PromocaoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 06/03/2026 09:14:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioId] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](60) NOT NULL,
	[Email] [varchar](70) NOT NULL,
	[Senha] [varbinary](32) NOT NULL,
	[StatusUsuario] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClassificacaoIndicativa] ON 

INSERT [dbo].[ClassificacaoIndicativa] ([ClassificacaoIndicativaId], [Classificacao]) VALUES (1, N'Livre')
INSERT [dbo].[ClassificacaoIndicativa] ([ClassificacaoIndicativaId], [Classificacao]) VALUES (2, N'Para maiores de 18')
INSERT [dbo].[ClassificacaoIndicativa] ([ClassificacaoIndicativaId], [Classificacao]) VALUES (3, N'Livre')
SET IDENTITY_INSERT [dbo].[ClassificacaoIndicativa] OFF
GO
SET IDENTITY_INSERT [dbo].[Genero] ON 

INSERT [dbo].[Genero] ([GeneroId], [Nome]) VALUES (1, N'Terror')
INSERT [dbo].[Genero] ([GeneroId], [Nome]) VALUES (2, N'Sandbox')
INSERT [dbo].[Genero] ([GeneroId], [Nome]) VALUES (3, N'FPS')
SET IDENTITY_INSERT [dbo].[Genero] OFF
GO
SET IDENTITY_INSERT [dbo].[Jogo] ON 

SET IDENTITY_INSERT [dbo].[Jogo] OFF
GO
INSERT [dbo].[JogoGenero] ([JogoIdFK], [GeneroIdFK]) VALUES (3, 1)
GO
INSERT [dbo].[JogoPlataforma] ([PlataformaIdFK], [JogoIdFK]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Log_Alteracao_Jogo] ON 

INSERT [dbo].[Log_Alteracao_Jogo] ([Log_Alteracao_Jogo_Id], [DataAlteracao], [NomeAnterior], [PrecoAnterior], [JogoId]) VALUES (1, CAST(N'2026-03-06T08:41:18.0000000' AS DateTime2), N'Dying Light', CAST(155.99 AS Decimal(10, 2)), 2)
INSERT [dbo].[Log_Alteracao_Jogo] ([Log_Alteracao_Jogo_Id], [DataAlteracao], [NomeAnterior], [PrecoAnterior], [JogoId]) VALUES (2, CAST(N'2026-03-06T08:57:13.0000000' AS DateTime2), N'string', CAST(30.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[Log_Alteracao_Jogo] ([Log_Alteracao_Jogo_Id], [DataAlteracao], [NomeAnterior], [PrecoAnterior], [JogoId]) VALUES (3, CAST(N'2026-03-06T08:58:28.0000000' AS DateTime2), N'stringaaaa', CAST(220.00 AS Decimal(10, 2)), 2)
SET IDENTITY_INSERT [dbo].[Log_Alteracao_Jogo] OFF
GO
SET IDENTITY_INSERT [dbo].[Plataforma] ON 

INSERT [dbo].[Plataforma] ([PlataformaId], [Nome]) VALUES (1, N'Nintendo')
INSERT [dbo].[Plataforma] ([PlataformaId], [Nome]) VALUES (2, N'PS4')
INSERT [dbo].[Plataforma] ([PlataformaId], [Nome]) VALUES (3, N'Xbox One')
SET IDENTITY_INSERT [dbo].[Plataforma] OFF
GO
SET IDENTITY_INSERT [dbo].[Promocao] ON 

INSERT [dbo].[Promocao] ([PromocaoId], [Nome], [DataExpiração], [StatusPromocao]) VALUES (1, N'Domingão do Royalzao', CAST(N'2026-05-30T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Promocao] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioId], [Nome], [Email], [Senha], [StatusUsuario]) VALUES (1, N'Carlos Lima', N'carlos@vhburguer.com', 0x7676AAAFB027C825BD9ABAB78B234070E702752F625B752E55E55B48E607E358, 1)
INSERT [dbo].[Usuario] ([UsuarioId], [Nome], [Email], [Senha], [StatusUsuario]) VALUES (2, N'luiszao', N'luis@gmail.com', 0x8D969EEF6ECAD3C29A3A629280E686CF0C3F5D5A86AFF3CA12020C923ADC6C92, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Jogo] ADD  DEFAULT ((1)) FOR [StatusJogo]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [StatusUsuario]
GO
ALTER TABLE [dbo].[Jogo]  WITH CHECK ADD FOREIGN KEY([ClassificaçãoIdFK])
REFERENCES [dbo].[ClassificacaoIndicativa] ([ClassificacaoIndicativaId])
GO
ALTER TABLE [dbo].[Jogo]  WITH CHECK ADD FOREIGN KEY([UsuarioIdFK])
REFERENCES [dbo].[Usuario] ([UsuarioId])
GO
ALTER TABLE [dbo].[JogoGenero]  WITH CHECK ADD  CONSTRAINT [FK_JogoGenero_Genero] FOREIGN KEY([GeneroIdFK])
REFERENCES [dbo].[Genero] ([GeneroId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JogoGenero] CHECK CONSTRAINT [FK_JogoGenero_Genero]
GO
ALTER TABLE [dbo].[JogoGenero]  WITH CHECK ADD  CONSTRAINT [FK_JogoGenero_Jogo] FOREIGN KEY([JogoIdFK])
REFERENCES [dbo].[Jogo] ([JogoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JogoGenero] CHECK CONSTRAINT [FK_JogoGenero_Jogo]
GO
ALTER TABLE [dbo].[JogoPlataforma]  WITH CHECK ADD  CONSTRAINT [FK_JogoPlataforma_Jogo] FOREIGN KEY([JogoIdFK])
REFERENCES [dbo].[Jogo] ([JogoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JogoPlataforma] CHECK CONSTRAINT [FK_JogoPlataforma_Jogo]
GO
ALTER TABLE [dbo].[JogoPlataforma]  WITH CHECK ADD  CONSTRAINT [FK_JogoPlataforma_Plataforma] FOREIGN KEY([PlataformaIdFK])
REFERENCES [dbo].[Plataforma] ([PlataformaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JogoPlataforma] CHECK CONSTRAINT [FK_JogoPlataforma_Plataforma]
GO
ALTER TABLE [dbo].[JogoPromocao]  WITH CHECK ADD  CONSTRAINT [FK_JogoPromocao_Jogo] FOREIGN KEY([JogoIdFK])
REFERENCES [dbo].[Jogo] ([JogoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JogoPromocao] CHECK CONSTRAINT [FK_JogoPromocao_Jogo]
GO
ALTER TABLE [dbo].[JogoPromocao]  WITH CHECK ADD  CONSTRAINT [FK_JogoPromocao_Promocao] FOREIGN KEY([PromocaoIdFK])
REFERENCES [dbo].[Promocao] ([PromocaoId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JogoPromocao] CHECK CONSTRAINT [FK_JogoPromocao_Promocao]
GO
ALTER TABLE [dbo].[Log_Alteracao_Jogo]  WITH CHECK ADD FOREIGN KEY([JogoId])
REFERENCES [dbo].[Jogo] ([JogoId])
GO
